@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
}


* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}
body {
	background-color: #374873;
}

#headIMG {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/Space_station.png");
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	height: 380px;
}
table {
	transform: translate(-50%);
	margin-left: 50%;
	width: 90%;
}

th, td{
	padding: 10px;
	margin-left: 25px;
	color: #fff;
	background-color: #8B8B8B;
	box-shadow: 10px 10px 0px rgba(255, 143, 143, 0.25);
}

/*.bgp {
	padding-right: 3em;
	padding-left: 3em;
}*/

@media screen and (max-width: 1235px) {
	*{
		font-size: 1.05em;
	}
}